/* alternating column backgrounds */
.vis-time-axis .vis-grid.vis-odd {
  background: #f5f5f5;
}

/* gray background in weekends, white text color */
.vis-time-axis .vis-grid.vis-saturday,
.vis-time-axis .vis-grid.vis-sunday {
  background: gray;
}
.vis-time-axis .vis-text.vis-saturday,
.vis-time-axis .vis-text.vis-sunday {
  color: white;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
#main {
  width: 90%;
  height: 20px;

  display: flex;
}

.error {
  font-weight:bold;
  color:red;
}

#main div:nth-of-type(1) {flex-grow: 3;}
#main div:nth-of-type(2) {flex-grow: 1;}

.container{
  background-color:#2E4272;
  display:flex;
}
.fixed{
  background-color:#4F628E;
  width: 900px;
  flex-grow: 1;
}
.flex-item{
  background-color:#7887AB;
  flex-grow: 100;
}
.mat-raised-button.small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}
.covered {
  color: green;
}
.notCovered {
  color: red;
}
td.Accepted {
  color:green;
  font-size:12pt;
}
td.NotAccepted {
  color:red;
  font-size:12pt;
}

caption {
  font-size:12pt;
}
input.large {
  font-size:12pt;
}

.container {
  display: flex;
  flex-direction: row;
  border:solid;
}
.container > div {
  flex: 1; /*grow*/
}
.parentCenter {
  text-align: center;
}
#container {
  border:solid;
  overflow:auto;
}
#controls {
  position:relative;
  height:100px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-width{
    width:100px;
  }
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width:80%;
    justify-content: space-evenly;
  }
.wideItem {
    width: 250px;
  }
 /* 
.item {
    width: 100px;
    background-color:green;
  }
  */
.space-evenly { 
    justify-content: space-evenly; 
  }
.vis-item.approved {
    color: white;
    background-color: blue;
    border-color: darkred;
  }
.vis-item {
    border-color: orange;
    background-color: green;
  }
  .smallLable {
    color:blue;
  }
.notice {
  color:red;
  font-weight: bold;
}  
.mat-form-field {
  padding:20px;
}
.item {
  width:180px;
}
.medium {
  width:140px;
}
#offBottom {
  position:fixed;
  left:0;
  bottom:500;

}
