
#parent {
  background-color:yellow;
  position: absolute;
  top: 0px;
  width: 90%;
  height:100%;
}
#container {
  border:solid;
  overflow:auto;


}

#controls {
  position:relative;
  height:100px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.vis-item.red {
    color: white;
    background-color: red;
    border-color: darkred;
  }
  .form-width{
    width:100px;
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    min-width: 1400px;
    width:80%;
    justify-content: space-evenly;
  }
  .wideItem {
    width: 250px;
  }
  .item {
    width: 100px;
  }
  .space-evenly { 
    justify-content: space-evenly; 
  }
  .vis-item.approved {
    color: white;
    background-color: red;
    border-color: darkred;
  }
  .vis-item {
    border-color: orange;
    background-color: yellow;
  }
  .smallLable {
    color:blue;
  }