input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}
#container {
  border:solid;
  overflow:auto;
}
#controls {
  position:relative;
  height:100px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vis-time-axis .vis-grid.vis-saturday,
	.vis-time-axis .vis-grid.vis-sunday {
		background: green	
	  }
	  
	.vis-time-axis .vis-grid.vis-today {
		background: #FFFFCC;	
	  }
.vis-item.red {
    color: white;
    background-color: red;
    border-color: darkred;
  }
.form-width{
    width:100px;
  }
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width:80%;
    justify-content: space-evenly;
  }
.wideItem {
    width: 250px;
  }
 /* 
.item {
    width: 100px;
    background-color:green;
  }
  */
.space-evenly { 
    justify-content: space-evenly; 
  }
.vis-item.approved {
    color: white;
    background-color: red;
    border-color: darkred;
  }
.vis-item {
    border-color: orange;
    background-color: green;
  }
  .smallLable {
    color:blue;
  }