
<!-- 'redraw' param not used at present, can be used if user scrolls beyond fetched data   -->
<div >
    <div id="container">  
        <div id="timeline" #visjsTimeline *ngIf = "redraw  && index == 0"   (click) = "clicked($event)"> </div>
    </div>     

            <!------        This is the form used for adding new tAs ---------------> 
    <div *ngIf = "!newTimeAway2 " >
        <button mat-raised-button (click) ="setNewTimeAway2()"  >New Time Away </button> 
    </div>
    <app-notice [name] = 'this.userid'
    [masterArray]="masterArray"
    ></app-notice>

    <div class = 'contDiv'>
<!--         New Time Away Section  text to test Git   -->
    <form [formGroup]="formG" *ngIf = "newTimeAway2" (ngSubmit)="onSubmit()">
        <div class = "heading" > Enter New Time Away Paramters </div>
        <mat-form-field class="item">
            <input matInput  placeholder= "Start Date "  formControlName="dateFrom" type="date" useValueAsDate title="click down triangle for calendar" />
        </mat-form-field>   
        <mat-form-field class="item">
            <input matInput placeholder= "End Date "   formControlName="dateTo" type="date" useValueAsDate />
        </mat-form-field>    
        
        <mat-form-field  appearance="none">
                <mat-label>Reason</mat-label>
                    <mat-select  
                    formControlName = "reasonG"  id='reasonId'>
                            <mat-option  value="0">Personal Vacation</mat-option>
                            <mat-option  value="1">Other</mat-option>
                            <mat-option   value="2">Meeting</mat-option>  
                    </mat-select>
        </mat-form-field>
        <mat-form-field  class="wideItem">
                <mat-label class="smallLabel"> Note:</mat-label>
                <textarea matInput  formControlName = "noteG"  cdkTextareaAutosize  #autosize="cdkTextareaAutosize"  cdkAutosizeMinRows="1"  cdkAutosizeMaxRows="5" >
                </textarea>
        </mat-form-field > 
        <!-- type='submit' is the default, must specify another type to avoid submitting  -->
        <button mat-raised-button [disabled]="!formValidation" 
            title="Valid Start and End dates as well as Reason required"  >Submit New Time-Away</button>

        <div *ngIf="this.formG.controls.dateFrom.invalid && ( this.formG.controls.dateFrom.dirty || this.formG.controls.dateFrom.touched  ) "
            class="alert alert-danger">
                <div *ngIf="this.formG.controls.dateFrom.errors.required">
                    Start Date is required.
                </div>
        </div>       
        <div *ngIf="this.formG.controls.dateTo.invalid && ( this.formG.controls.dateTo.dirty || this.formG.controls.dateTo.touched  ) "
            class="alert alert-danger">
            <div *ngIf="this.formG.controls.dateTo.errors.required">
            End Date is required.
            </div>
        </div>  
        <div class="alert alert-danger" *ngIf="formG.errors"  >   {{  formG.errors?.dates | json }} </div>     
    </form>
 

<!--          Edit tA  Controls   -->
    <div style="text-align:center">
      <table><tr><td>
        <form [formGroup]="formEdit" *ngIf = "drawEditControls && !newTimeAway2 " (ngSubmit)="onSubmit()">
            <div class = "heading" *ngIf = '!_readonly'> Edit Time Away Paramters </div>
            <mat-form-field class="item" >
                <input matInput id="dateToEditIDXX" placeholder= " Start-Date " (change)="editGen('start', $event)" 
                 formControlName="dateToEdit"  [readonly] = "_readonly" 
                type="date" useValueAsDate  />
            </mat-form-field>  
          
            <mat-form-field class="item">
                    <input matInput id="eDateToEditID"  placeholder= " End-Date " (change)="editGen('end', $event)" 
                     formControlName="dateFromEdit"  [readonly] = "_readonly" 
                    type="date"  useValueAsDate  />
            </mat-form-field>  

            <mat-form-field *ngIf = "!_readonly" class="medium">
                <mat-label>Reason</mat-label>
                    <mat-select [(value)]='reasonSelect' (selectionChange)="editGen('reason', $event)"
                    id='reasonId'>
                            <mat-option  value="0">Personal Vacation</mat-option>
                            <mat-option  value="1">Other</mat-option>
                            <mat-option   value="2">Meeting</mat-option>  
                    </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf = "_readonly" appearance="none" > 
                    <mat-label class="smallLabel"> Reason</mat-label>
                    <input matInput  [value]="reasons[reasonSelect]" size = 40  [readonly] = "_readonly">
            </mat-form-field>

            <mat-form-field  class="wideItem">
                    <mat-label class="smallLabel"> Note:</mat-label>
                    <textarea matInput  (change)="editGen( 'note', $event)" [value]="newTimeAwayBool ? ' ' : this.data2._data[this._id]?.note"
                        [formControl] = "notesFC"
                        cdkTextareaAutosize [readonly]="_readonly"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"
                        >
                    </textarea>
            </mat-form-field >
            <div  *ngIf = "isApprover" >   
                <button  mat-raised-button  type='button' (click) = "editGen('approve', $event)">Approve </button>  
            </div>
        </form> </td>
        <td  *ngIf = "!_readonly"  >  <button mat-raised-button color="primary" (click) = "editGen('del',$event)" >Delete</button> </td>
     </tr></table>

    </div >      
        <div *ngIf = "drawEditControls && !newTimeAway2 " class="parentCenter"> 
            <table *ngIf = "!_readonly" style = "width:60%; ">
                <tr>
                    <th *ngIf = "covererToggle ">Chose First Coverer </th>
                    <th *ngIf = "!covererToggle ">Chose Second Coverer </th>
                    <th colspan="2">Coverers </th>
                </tr>
                <tr>
                    <td> 
                        <mat-select    name = "coverer"  id='covererUserKey' >
                            <mat-option *ngFor = "let item of rData['users'] | keyvalue" 
                                value="item.value" (click) = "selectCoverer(item.key, item.value) "> {{item.key }} </mat-option>
                        </mat-select>
                    </td>
                        <td><input  class="large" size=15 matInput  [value]= "this.covererName"></td>
                        <td><input class="large"   size=15  matInput  [value]= "this.covererName2" ></td>
                        <td ><button  *ngIf = "this.covererUserKey > 0 "  mat-raised-button (click) = "storeCovererDate($event)" >Send Emails to Covers </button> </td>
                </tr>
            </table>
            <table *ngIf = "_readonly" style = "width:30%; ">
                    <caption> Coverers  </caption>
           
                <tr> 
                    <td [class] = "coverageAclass"> {{ this.rData['usersByKey'][this.rData['data'][this._id]['coverageA']]   }} </td>
                    <td [class] = "coverageBclass" > {{ this.rData['usersByKey'][this.rData['data'][this._id]['coverageB']]   }} </td>
                </tr>
            </table>
        </div>  
        <div id="controls" [formGroup] = 'form' *ngIf = "drawControls" >
                <ul *ngIf = "this.showControls && this._id " class="flex-container  ">
            <!--    This the readOnly version of the Reason control -->
                    <li class="wideItem" *ngIf =_readonly>
                    </li>
                    <li style="width:150px" *ngIf = "!_readonly || (this.data2._data[this._id] && this.data2._data[this._id].note
                        && this.data2._data[this._id].note.length > 0)" >
                    </li> 
                    <li class="item" *ngIf = "this.reasonEdited && this.startDateEdited && endDateEdited" >
                    <button mat-raised-button  >Save New Time Away </button>    <!-- any button in a form triggers onSubmit, unless type='button-->
                    </li>
                </ul>
        </div>

    </div>    
        
</div>
<div id="datums"  style="display:none"> </div> <!----  Gro  ??  id ??-->
<div id="datums2"  style="display:none"> </div> <!----- holds callBack function e.g. triggers by 'remove' -->
<div id="vidx"  style="display:none"> </div>
<div id="chData" style="display:none" > chData </div>  


<style type="text/css" >
    #timeline {
        width: 100%;
        height: 60%;
        font-size:6pt;
        color:green;
        font-family: sans-serif;
        padding:0px;    
    }
      /* gray background in weekends, white text color */
  .vis.timeline .timeaxis .grid.saturday,
  .vis.timeline .timeaxis .grid.sunday {
    background: green;
    }
</style>
