table {
    table-layout:fixed;
    width:400px;
}
caption {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .center {
    margin: auto;
    width: 60%;
  
    padding: 10px;
  }  