
<div class='relative2'>
  <h1> Physicians Time Away Schedule</h1>
</div>

<div class='relative'>

<img src="assets/prevMonthArrow.png"  (click) = 'advanceMonth(-1)'  alt="image">
<img src="assets/nextMonthArrow.png" (click) = 'advanceMonth(1)'  alt="image">
</div>
<table id="myTable" border="1" class="cal" *ngIf = "vacData"  style="border-collapse: collapse; background-color:rgb(239, 214, 208)" cellpadding="2">
  <tr>
    <td [attr.colspan] = 'calParams.daysInFirstMonth'> {{ calParams.firstMonthName }} </td>
    <td [attr.colspan] = 'calParams.daysInSecondMonth'> {{ calParams.secondMonthName }}  </td>
  </tr>
  <tr>
    <td *ngFor = "let d of calDates" [className] ="getDateClass(d )"  >
      {{ d.getDate()}}
    </td>
  </tr>

  <tr *ngFor = "let item of vacData | keyvalue" > {{ zeroDayNum() }}
    <td   *ngFor='let loop3 of counter(item.value[0].daysTillStartDate ) ;let ip= index' [className] = 'getClass( item.value[9][0][ip])' >   </td>
    <td [attr.colspan] = 'item.value[0].vacLength' class = "green" (click) = "showEditFunc(item.value[0])"   >   {{ item.value[0]['LastName'] }}  </td>
  
    <ng-container *ngIf = 'item.value[1]'> 
     <td *ngFor= 'let loop4 of counter(daysBetween(item.value[0], item.value[1])) ;let ip= index' [className] = 'getClass( item.value[9][1][ip])' > 
              </td>
     <td [attr.colspan] = 'item.value[1].vacLength' class = "green"  (click) = "showEditFunc(item.value[1])"      >   {{ item.value[1]['LastName'] }}  </td>
    </ng-container> 


    <ng-container  *ngIf = '!item.value[1] && item.value[9][1]'  > 
      <td *ngFor = "let lp of counter( item.value[0]['daysTillCalEnd']); let ip=index"    [className] = 'getClass( item.value[9][1][lp])'  > {{ ip}}
        <div *ngIf= 'item.value[9][1]' > 
        </div>
      </td> 
    </ng-container>

    <ng-container *ngIf = 'item.value[3]'> 
      <td *ngFor= 'let loop6 of counter( daysBetween(item.value[2], item.value[3])); let ip = index ' [className] = 'getClass( item.value[9][3][ip])'     > </td>
      <td [attr.colspan] = 'item.value[3].vacLength'  class = "green" (click) = "showEditFunc(item.value[3])"  >{{ item.value[2]['LastName'] }} </td>
     </ng-container> 
     <ng-container *ngIf = '!item.value[4]  && item.value[3] && item.value[3][10] '>
      <td *ngFor='let l3 of  item.value[3][10] ;  let ip = index'  > 
        <div *ngIf = 'item.value[9][4]' > </div> </td>
    </ng-container>

    <ng-container *ngIf = '!item.value[2] && item.value[1]'>
      <td *ngFor='let l3 of counter( daysTillEnd(item.value[1]));  let ip = index' 

       > 
       <div   *ngIf = 'item.value[9][2]'>   </div> 
        </td>
    </ng-container>
    <ng-container *ngIf = 'item.value[3]'> 
      <td *ngFor= 'let loop6 of counter( daysBetween(item.value[2], item.value[3])); let ip = index ' [className] = 'getClass( item.value[9][3][ip])'     > </td>
      <td [attr.colspan] = 'item.value[3].vacLength'  class = "green" (click) = "showEditFunc(item.value[3])"  >{{ item.value[2]['LastName'] }} </td>
     </ng-container> 
     <ng-container *ngIf = '!item.value[4]  && item.value[3] && item.value[3][10] '>
      <td *ngFor='let l3 of  item.value[3][10] ;  let ip = index'  > 
        <div *ngIf = 'item.value[9][4]' > </div> </td>
    </ng-container>

  </tr>  
</table>