<table><tr>
    <td   class="small">
      
        <button (click) = 'makeWeek(-1)'  mat-raised-button class="accent"  >Previous Week </button>
      </td>

      <td   class="small">
          <button (click) = 'makeWeek(1)'  mat-raised-button class="accent"  >Next Week </button>
        </td>
    </tr>    
</table>
<table class='main'>
  <tr class='white'>
   <th></th><th></th>
    <th  *ngFor = "let item of calHeadings; let i = index" >
      <table [class] = 'isToday(item.date)'>
        <tr><th >{{ item.dayName }} </th> </tr>  
        <tr><th   [class]='isToday(item.date, i)'>  {{ item.monthDay }} </th> </tr>
      </table>
    </th> 
  </tr>
  <tr *ngFor = 'let item of WeekDutyNames' >
    <td style="font-weight:bold;" >  {{ item.name }} </td>
    <td> {{ item.timeSpan }} </td>
    <td  *ngFor = " let cH of calHeadings" >
    <div *ngIf = "physicsMonthlyDuties" >
       {{ physicsMonthlyDuties[cH['date']][item.Idx]['lNN']}}
    </div>
    </td>
  </tr>
</table>
<p> Physicist A is responsible for new plan checks on L1, L2, L3 that occur during the assigned shift </p>
<p> Physicist B is responsible for new plan checks on L4, L5, L6 that occur during the assigned shift </p>