<table><tr>
    <td   class="small">
        <button (click) = 'makeWeek(-1)'  mat-raised-button class="accent"  >Previous Week </button>
      </td>
     <td  class='large'> {{ monthName }} </td>
      <td   class="small">
          <button (click) = 'makeWeek(1)'  mat-raised-button class="accent"  >Next Week </button>
        </td>
    </tr>    
</table>
<table>
  <tr>
    <th></th><th></th>
    <th  *ngFor = "let item of calHeadings">
      <table>
        <tr><th>{{ item.dayName }} </th> </tr>  
        <tr><th>  {{ item.monthDay }} </th> </tr>
   

      </table>
    </th>
  </tr>
  <tr *ngFor = 'let item of WeekDutyNames' >
    <td> {{ item.name }} </td>
    <td> {{ item.timeSpan }} </td>
    <td *ngFor = "let item2 of calHeadings"> 
      <div *ngIf = 'physicsMonthlyDuties && physicsMonthlyDuties[item2.date][item.Idx]'>
      {{ physicsMonthlyDuties[item2.date][item.Idx]['lNN'] }}  
      </div>
      <div *ngIf = "regularDuties[item.Idx] && fromION[regularDuties[item.Idx]['phys1']]"> 
        {{ fromION[regularDuties[item.Idx]['phys1']]['LastName'] }} </div>
    </td>
  </tr>
</table>