table {
    table-layout:fixed;
    border-collapse:collapse
}
.todayClass {
    color:red;
}
tr:nth-child(even) {
    background-color: #d6d6d6;
  }
table.main {
    width:800px;
}  
.white {
    background-color:white
}
tr:hover {
    background-color: #ffff99;
  }