table {
    table-layout:fixed;
    border-collapse:collapse
}
.heading {
    font-weight:bold;
    font-size:18;
    width:150px;
}
.smallClass {
    width:150px;
}
.todayClass {
    color:red;
    cursor: pointer;
}
.defaultClass {
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: #d6d6d6;
  }
table.main {
    width:800px;
}  
.white {
    background-color:white
}

th {
    text-align: Left;
}  
tr.main:hover{
    background-color:yellow;
}
.loading {
    font-size: 20pt;
    color: blue;
}
.center {
    margin: auto;
    width: 90%;

    padding: 30px;
  }