table {
    table-layout:fixed;
    border-collapse:collapse
}
.todayClass {
    color:red;
    cursor: pointer;
}
.defaultClass {
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: #d6d6d6;
  }
table.main {
    width:800px;
}  
.white {
    background-color:white
}

th {
    text-align: Left;
}  
tr.main:hover{
    background-color:yellow;
}