
  :host{
    --accent:rgb(210, 210, 247);
    --disable:rgb(182, 179, 179);
    --baseFont:10pt;
  }
  body{
    font-size:8pt;
    font-family:sans-serif;
}
  button {
    background-color: var(--accent);
}
.title {
    font-style: italic;
    font-size:200% !important;
    color:blue;
}
td {
    border:solid;
    width: 200px;
    height: 100px;
}
.inMonth {
    background-color: rgb(245, 230, 230);  
}
.outMonth {
    background-color: var(--disable)
}
#header {
    text-align: center;

}
#legend {
    height: 80px;
    width:100px;
  
}
.dow {
    color:black;
}
.accent {
    background-color: var(--accent);
}

.smallTable {
    table-layout:fixed;
    width:200px;
    height:40px;;
}
tr {
    font-size:var(--baseFont);
    color:white;
}
caption {
    color:black;
    font-size:100%;
}
.flex-container {
    display: flex;
    justify-content:center;
    width:100%;
    height:120px;
 
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size:100%;
  }
  .one {
      background-color:rgb(180, 180, 248);
  }
  .two {
    background-color:rgb(143, 143, 223)
    }
.three {
    background-color:rgb(99, 99, 175)
    }
.four {
    background-color:rgb(70, 70, 161)
    }

