<div class="wholePage">
  <div class="headClass">
    <table class="tinyTable">
      <tr>
        <td class="small">test</td>
        <td   class="small">
          <button (click) = 'nextMonth(-1)'  mat-raised-button class="accent"  >Previous Month </button>
        </td>
       <td  class='large'> {{ monthName }} </td>
        <td   class="small">
            <button (click) = 'nextMonth(1)'  mat-raised-button class="accent"  >Next Month </button>
          </td>
          <td class="small">
              <table class="tinyTable">
                <tr *ngFor="let item of physicsDuties | keyvalue">
                <td  class="tiny"> {{item.key}}:{{item.value.name}} </td>
                </tr>
              </table>
            </td>  
      </tr>
    </table>
  <!--<table style="height:80%;">
    <tr>
      <td>
        <button (click) = 'nextMonth(-1)'  mat-raised-button class="accent"  >Previous Month </button>
      </td>
      <td class="title"> {{ monthName }}</td> 
      <td>
      <button (click) = 'nextMonth(1)'   mat-raised-button class="accent"  >Next Month </button>
      </td>  
      <td id="legend">  </td>
        <td>
          <table class="tinyTable">
            <tr *ngFor="let item of physicsDuties | keyvalue">
            <td > {{item.key}}:{{item.value.name}} </td>
            </tr>
          </table>
        </td>    
      </tr>
    </table>
  -->
    </div>
  <p *ngIf = "loggedInUserKey" class="heading" >  To Assume a Duty, click on physicist's name. </p>
  <div id="header" class="flex-container">
    <table>
      <tr class="dow"> <th > Monday</th> <th> Tuesday</th><th> Wednesday</th><th> Thursday</th> <th> Friday</th>
      </tr>
      <tr *ngFor = " let week of daysS">
        <td  *ngFor=" let dayEl of week "  [class] = "dayEl.isInCurrMonth">
          <table  style="width:100%;">
            <caption> {{ dayEl.dayNumber  ? dayEl.dayNumber : ''}} </caption>   
            <tr *ngFor="let item of physicsDutiesClass "  [class] = "item.dutyName" 
             (click)="takeAduty(item.dutyId, dayEl.dateString)" >  
            <div *ngIf = 'physicsMonthlyDuties  && physicsMonthlyDuties[dayEl.dateString] && physicsMonthlyDuties[dayEl.dateString][item.dutyId] ' 
              [id]="physicsMonthlyDuties[dayEl.dateString][item.dutyId]['idx']" 
              [class] = "isLoggedInUser( physicsMonthlyDuties[dayEl.dateString][item.dutyId]['UserKey'])" >   
              {{  physicsMonthlyDuties[dayEl.dateString][item.dutyId]['lNN'] }} 
            </div>
            <div></div>
            </tr> 
          </table>
        </td>
      </tr>   
    </table>
  </div>
</div>    
<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <button mat-raised-button (click) = "pagePhysicist()"  > Page Physicist </button>
    <span class="close" (click) = "closeModal()">&times;</span>
    <p>{{ phrase }}</p>
    <button (click) = "confirmDuty()" >Take Duty</button>
  </div>

</div>