<div class="wholePage">
  <div id="header" class="flex-container">
    <div>
      <button (click) = 'nextMonth(-1)'  mat-raised-button class="accent"  >Previous Month </button>
    </div>
    <div class="title"> {{ monthName }}</div> 
    <div>
    <button (click) = 'nextMonth(1)'   mat-raised-button class="accent"  >Next Month </button>
    </div>  
    <div id="legend">
      <div>
        <table class="smallTable">
            <tr *ngFor="let item of physicsDutiesClass "  [class] = "item.dutyName"> {{ item.dutyName }} </tr>
        </table>
      </div>    
    </div>
  </div>
  
  <div id="header" class="flex-container">
    <table>
      <tr class="dow"> <th > Monday</th> <th> Tuesday</th><th> Wednesday</th><th> Thursday</th> <th> Friday</th>
      </tr>
      <tr *ngFor = " let week of daysS">
        <td  *ngFor=" let dayEl of week "  [class] = "dayEl.isInCurrMonth">
          <table  style="width:100%;">
            <caption> {{ dayEl.dayNumber  ? dayEl.dayNumber : ''}} </caption>   
            <tr *ngFor="let item of physicsDutiesClass "  [class] = "item.dutyName"  (click)="takeAduty(item.dutyId, dayEl.dateString)" >  
              <div *ngIf = 'physicsMonthlyDuties  && physicsMonthlyDuties[dayEl.dateString]  && physicsMonthlyDuties[dayEl.dateString][item.dutyId]'   >   
              {{  physicsMonthlyDuties[dayEl.dateString][item.dutyId]['lNN'] }}  </div>
            </tr> 
          </table>
        </td>
      </tr>   
    </table>
  </div>
</div>    

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click) = "closeModal()">&times;</span>
    <p>{{ phrase }}</p>
    <button (click) = "confirmDuty()" >Take Duty</button>
  </div>

</div>