
  body{
    font-size:8pt;
    font-family:sans-serif;
}
  button {
    background-color: var(--accent);
}
.title {
    font-style: italic;
    font-size:200% !important;
    color:blue;
}
table.small {
    border:none;
  
    height:30px;
}
td {
    border:solid;
    width: 200px;
    height: 100px;
    font-family:sans-serif;
}
td.small {
    height:200px;
    border:none;
    text-align: center;
}
td.large {
    font-size:200%;
    text-align: center;
    border: none;

}
td.tiny {
    height:20px;
    border:none;
    text-align: right;
}
button.tiny{

        width: 2px;
        height: 2px;
        padding: 0px;
        box-sizing: border-box;
        border: 0;
        background: red;

}
.outMonth {
    background-color: rgb(245, 230, 230);  
}
.inMonth {
    background-color: var(--disable)
}
#header {
    text-align: center;
    padding:40px;
}
.headClass {
    background-color:white;
    text-align: center;
}
#legend {
    height: 80px;
    width:100px;
  
}
.dow {
    color:black;
}
.accent {
    background-color: var(--accent);
}
.tinyTable {
    table-layout:fixed;
    width:200px;
}
.tinyTable tr {
    line-height: 14px;
}
.smallTable {
    table-layout:fixed;
    width:200px;
    height:40px;;
   
}

tr {
    color:black;
}
caption {
    color:black;
    font-size:100%;
}
.flex-container {
    display: flex;
    justify-content:center;
    width:100%;
    height:120px;
 
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size:100%;
  }


.MorningA-IORT:hover, .MorningB:hover, .EveningA:hover, .EveningB:hover {
    background-color:yellow;
    cursor: pointer;
}


.one, .MorningA-IORT {
    background-color:#fcc9ae;
    height:10px;
    border: 1px outset #ccc;
} 
.two, .MorningB {
    background-color:#fcdfbc;
    height:10px;
    border: 1px outset #ccc;
}   
.three, .EveningA {
    background-color:#fceb8e;
    height:10px;
    border: 1px outset #ccc;
}  
.four, .EveningB {
    background-color:#ccccc5;
    height:10px;
    border: 1px outset #ccc;
}  
.five,.Float1 {
    background-color:#cce9b6;
    height:10px;
    border: 1px outset #ccc;
}  
.six, .Float2  {
    background-color:#a4c2b9;
    height:10px;
    border: 1px outset #ccc;
}    
.theUser {
    color: red;
}   
.lUser {
    color:red;
}    
   