
  body{
    font-size:8pt;
    font-family:sans-serif;
}
  button {
    background-color: var(--accent);
}
.title {
    font-style: italic;
    font-size:200% !important;
    color:blue;
}
td {
    border:solid;
    width: 200px;
    height: 100px;
    font-family:sans-serif;
  
}
td.small {
    height:200px;
    border:none;
}
td.tiny {
    height:20px;
    border:none;
}

.inMonth {
    background-color: rgb(245, 230, 230);  
}
.outMonth {
    background-color: var(--disable)
}
#header {
    text-align: center;
    

}
.headClass {
    background-color:white;
}
#legend {
    height: 80px;
    width:100px;
  
}
.dow {
    color:black;
}
.accent {
    background-color: var(--accent);
}
.tinyTable {
    table-layout:fixed;
    width:200px;
}
.tinyTable tr {
    line-height: 14px;
}
.smallTable {
    table-layout:fixed;
    width:200px;
    height:40px;;
   
}

tr {
    color:black;
}
caption {
    color:black;
    font-size:100%;
}
.flex-container {
    display: flex;
    justify-content:center;
    width:100%;
    height:120px;
 
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size:100%;
  }

.MorningA-IORT {
    background-color:rgb(212, 212, 248);  
}
.MorningA-IORT:hover, .MorningB:hover, .EveningA:hover, .EveningB:hover {
    background-color:yellow;
    cursor: pointer;
}

.MorningB {
    background-color:rgb(181, 181, 221)
    }
.EveningA {
    background-color:rgb(153, 153, 214)
    }
.EveningB {
    background-color:rgb(124, 124, 168)
    }
.theUser {
    color: red;
}   
.lUser {
    color:red;
}    
   